pepper/build
**/**/*.iml
**/**/.gradle
pepper/local.properties
pepper/.idea/caches
pepper/.idea/libraries
pepper/.idea/modules.xml
pepper/.idea/workspace.xml
pepper/.idea/navEditor.xml
pepper/.idea/assetWizardSettings.xml
**/**/.DS_Store
pepper/captures
**/**/.externalNativeBuild
**/**/build
**/**/ApiConfig.java
**/**/Config.java
**/**/DRSConfig.java
**/**/ChatGPTConfig.java
pepper/app/src/main/java/fi/oulu/danielszabo/pepper/services/chatgpt/ChatGPTConfig.java
